@model IndexViewModel

@{
    ViewBag.Title = "Blog Website";
    ViewBag.Description = "This blog has everything cool about programming travel and photography";
    ViewBag.Keywords = "Blog, programming, travel, photography";
}

<div class="main-img">
    <span class="title">My Blog Site</span>
</div>
<div class="container" style="margin-bottom:40px">


    @foreach (var post in Model.Posts)
    {
        var image_path = $"/Image/{post.Image}";

        <div class="post">
            <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                <img src="@image_path" />
                <span class="title">
                    @post.Title
                </span>
            </a>
        </div>
    }

<div>
    @if (Model.PageNumber > 1)
    {
        <a asp-action="Index" asp-route-Category="@Model.Category" asp-controller="Home" asp-route-PageNumber="@(Model.PageNumber-1)">Previous Page</a>
    }
    @if(Model.NextPage){
    <a asp-action="Index" asp-route-Category="@Model.Category" asp-controller="Home" asp-route-PageNumber="@(Model.PageNumber+1)">Next Page</a>
    }
</div>

</div>